server.host: "0.0.0.0"
server.port: {{ kibana_port }}

# HTTPS Configuration
server.ssl.enabled: true
server.ssl.certificate: "{{ certificates_dir_kibana }}/kibana-server.crt"
server.ssl.key: "{{ certificates_dir_kibana }}/kibana-server.key"

elasticsearch.hosts: {{ elasticsearch_hosts | to_json }}
# Username/Password Authentication
elasticsearch.username: "{{ elasticsearch_username }}"
elasticsearch.password: "{{ elasticsearch_password }}"
elasticsearch.ssl.certificateAuthorities: ["{{ ca_cert_kibana }}"]

logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders: [file]
    level: info
